.card-container {
  position: relative;
  background-color: lightgray;
  height: 33vh;
  border-radius: 2rem;
  box-shadow: 0 0 1rem;
  transition: transform 0.3s ease;

  &:active {
    transform: scale(0.9);
  }

  &:hover .card-container_innerdiv {
    visibility: visible; // Make inner div visible when hovering over the image
    transform: scale(1);
  }

  & img {
    margin: 0.5rem;
    width: 93%;
    height: 30vh;
    border-radius: 2rem;
    cursor: pointer;
  }
}

.card-container_innerdiv {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 93%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  border-radius: 2rem;
  cursor: pointer;
  transform: scale(0.8); // Initially scale down
  transition: transform 0.3s ease; // Add transition for smooth effect

  & span {
    color: white;
    font-weight: 700;
    font-size: 2rem;
  }
}

.skills_details {
  position: fixed;
  background-color: rgba(56, 56, 56, 0.9);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow-y: scroll;

  & table {
    background-color: antiquewhite;
    width: 70vw;
    margin: 5rem;
    margin-inline: auto;
    height: auto;
    color: black;
    border: 6px solid rgb(4, 4, 4);

    & th {
      background-color: black;
      color: white;
      padding: 0.8rem;
    }
    // & td {
    // border: 1px solid black;
    // }

    .topic-name {
      margin-inline: auto;
      background-color: rgb(234, 169, 85);
      width: 7rem;
      height: auto;
      font-weight: 700;
      border-radius: 2rem;
      padding: 0.5rem;
    }

    ul li {
      font-size: 1.2rem;
      list-style-type: none;
      margin-bottom: 10px;
    }

    tbody tr:nth-child(even) {
      background-color: rgb(201, 200, 199);
    }
  }
}
.hidePage {
  display: none;
}
